@font-face {
  font-family: "karate";
  src: url("Karate.ttf");
}

#instructions {
  background-color: black;
  color: red;
  margin: 1em;
  padding: 1em;
}

svg {
  display: block;
  margin:0 auto;
  background-color: #000;
  border-style: solid;
  border-color: red;
}

body{
  background-image: url(japanbackground.jpg)
}

.scoreboard, .stats{
  font-family: "karate";
  font-size: 32px;
  color: white;
  line-height: 120%;
}
